# Database
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" # Base URL of your app

# ArcJet
ARCJET_KEY=""

# OAuth Social Providers
GITHUB_CLIENT_ID="Ov23liJggy86jhCXhSVt"
GITHUB_CLIENT_SECRET="f7e5cb89074819a7245d1e0f6016a5f29a617e9f"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""